<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e188_44><div class=e188_47><div  class="e188_48"></div><div  class="e188_49"></div></div><span  class="e188_55">ALLIDA</span><div class=e203_76><div  class="e188_45"></div><span  class="e188_46">134340</span><div class=e203_3><div  class="e203_2"></div><div class=e188_59><div  class="e188_60"></div><div  class="e188_61"></div></div></div></div><div class=e203_122><div class=e188_51><div  class="e188_52"></div><span  class="e188_54">ALLIDA</span></div></div><div class=e203_135><div  class="e203_136"></div><span  class="e203_137">SAIR</span></div></div>
          </body>
          </html>