.188_44 { 
	overflow:hidden;
}.e188_44 { 
	background-color:rgba(253.93750101327896, 244.96688157320023, 243.356771171093, 1);
	width:390px;
	height:844px;
	position:absolute;
}.e188_47 { 
	box-shadow:1px 0px 7px rgba(0, 0, 0, 0.20000000298023224);
	width:330px;
	height:68px;
	position:absolute;
	left:30px;
	top:285px;
}.e188_48 { 
	background-color:rgba(248.0000004172325, 237.0000010728836, 235.0000011920929, 0.5);
	width:330px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e188_49 { 
	background-color:rgba(178.00000458955765, 178.00000458955765, 178.00000458955765, 1);
	width:25.810056686401367px;
	height:27px;
	position:absolute;
	left:152.094970703125px;
	top:21px;
}.e188_55 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:83px;
	height:24px;
	position:absolute;
	left:154px;
	top:803px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e203_76 { 
	width:358px;
	height:134px;
	position:absolute;
	left:16px;
	top:118px;
}.e188_45 { 
	box-shadow:0px 1px 9px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 230.7259601354599, 226.31249696016312, 1);
	width:358px;
	height:134px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e188_46 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:250px;
	top:96px;
	font-family:Syne;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e203_3 { 
	width:134px;
	height:134px;
	position:absolute;
	left:0px;
	top:0px;
}.e203_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:134px;
	height:134px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e188_59 { 
	width:67px;
	height:67px;
	position:absolute;
	left:34px;
	top:34px;
}.e188_60 { 
	background-color:rgba(134.00000721216202, 145.00000655651093, 153.00000607967377, 1);
	width:20.9375057220459px;
	height:20.9375057220459px;
	position:absolute;
	left:23.0312442779541px;
	top:16.75px;
}.e188_61 { 
	background-color:rgba(134.00000721216202, 145.00000655651093, 153.00000607967377, 1);
	width:58.6250114440918px;
	height:58.6250114440918px;
	position:absolute;
	left:4.18748664855957px;
	top:4.1875px;
}.e203_122 { 
	width:390px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e188_51 { 
	width:390px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e188_52 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:390px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e188_54 { 
	color:rgba(255, 255, 255, 1);
	width:83px;
	height:24px;
	position:absolute;
	left:153px;
	top:51px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e203_135 { 
	width:72px;
	height:39px;
	position:absolute;
	left:313px;
	top:44px;
}.e203_136 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:72px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.e203_137 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:24px;
	position:absolute;
	left:15px;
	top:7px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}