<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e174_66><span  class="e174_67">PAREANDO DISPOSITIVO!</span><span  class="e174_68">Mantenha o dispositivo ao alcance do seu aparelho celular...</span><span  class="e174_69">AGUARDE...
</span><div class=e174_70><div class=e174_71><div  class="e174_72"></div><div  class="e174_73"></div><div  class="e174_74"></div><div  class="e174_75"></div><div  class="e174_76"></div></div></div><div  class="e174_77"></div></div>
          </body>
          </html>