.174_66 { 
	overflow:hidden;
}.e174_66 { 
	background-color:rgba(254.00000005960464, 245.00000059604645, 243.00000071525574, 1);
	width:390px;
	height:844px;
	position:absolute;
}.e174_67 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:296px;
	height:24px;
	position:absolute;
	left:47px;
	top:70px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e174_68 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:296px;
	height:72px;
	position:absolute;
	left:48px;
	top:521px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e174_69 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:296px;
	height:48px;
	position:absolute;
	left:55px;
	top:160px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e174_70 { 
	width:165px;
	height:157px;
	position:absolute;
	left:113px;
	top:273px;
}.e174_71 { 
	width:165px;
	height:157px;
	position:absolute;
	left:0px;
	top:0px;
}.e174_72 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:27.5px;
	height:26.16666603088379px;
	position:absolute;
	left:68.75px;
	top:115.74405670166016px;
}.e174_73 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:141.99417114257812px;
	height:31.365642547607422px;
	position:absolute;
	left:11.307271003723145px;
	top:22.39434814453125px;
}.e174_74 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:105.78359985351562px;
	height:26.287992477416992px;
	position:absolute;
	left:29.40673828125px;
	top:53.856422424316406px;
}.e174_75 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:69.78587341308594px;
	height:21.088703155517578px;
	position:absolute;
	left:47.46815872192383px;
	top:85.3584213256836px;
}.e174_76 { 
	width:165px;
	height:157px;
	position:absolute;
	left:0px;
	top:0px;
}.e174_77 { 
	border-radius:500px;
	width:210px;
	height:210px;
	position:absolute;
	left:90px;
	top:246px;
}.174_77 { 
	border:2px solid rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
}