<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e155_16><span  class="e160_159">CONCLUÍDO</span><div class=e160_160><div  class="e160_161"></div><span  class="e160_162">ENTRAR</span></div><div  class="e160_163"></div><div  class="e155_108"></div><span  class="e160_164">DISPOSITIVO PAREADO, VOCÊ JÁ PODE ENTRAR NA PÁGINA INICIAL!</span></div>
          </body>
          </html>