.155_16 { 
	overflow:hidden;
}.e155_16 { 
	background-color:rgba(254.00000005960464, 245.00000059604645, 243.00000071525574, 1);
	width:390px;
	height:844px;
	position:absolute;
}.e160_159 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:135px;
	height:24px;
	position:absolute;
	left:127px;
	top:70px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e160_160 { 
	width:123px;
	height:40px;
	position:absolute;
	left:133px;
	top:676px;
}.e160_161 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:123px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e160_162 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:18px;
	position:absolute;
	left:32px;
	top:11px;
	font-family:Syne;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e160_163 { 
	border-radius:500px;
	width:210px;
	height:210px;
	position:absolute;
	left:90px;
	top:169px;
}.160_163 { 
	border:2px solid rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
}.e155_108 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:120px;
	height:100px;
	position:absolute;
	left:135px;
	top:224px;
}.e160_164 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:296px;
	height:72px;
	position:absolute;
	left:48px;
	top:464px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}