<html lang="en">
    <head>
    	<meta charset="utf-8">
        	<title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              body {background: #E5E5E5; }
            </style>
          
        </head>  
        	<body>
        		<div class=e261_22>
					<div class=e261_23>
            		<div  class="e261_24"></div>
					<span  class="e261_25">CADASTRO</span>
				</div>

					<span  class="e261_26">Nome completo</span>
					<input  type="text" class="e261_27" placeholder=" Nome e Sobrenome">

					<span  class="e261_28">Celular</span>
					<input type="text" class="e261_29" placeholder="(XX) X XXXX-XXXX">

					<span  class="e261_30">E-mail</span>
					<input type="email" class="e261_31" placeholder=" seuemail@email.com">

					<span  class="e261_32">Senha</span>
					<input type="password" class="e261_33" placeholder=" Senha">

					<span  class="e261_34">Confirmação de Senha</span>
					<input type="password" class="e261_35" placeholder=" Confirmar Senha">

					<div class=e261_36>
						<button  class="e261_37">
							<span  class="e261_38">CADASTRAR</span>
						</button>
					</div>

					<div class=e261_39>
						<button  class="e261_40">
							<span  class="e261_41">CANCELAR</span>
						</button>
					</div>
					<span  class="e261_42">ALLIDA</span>
				</div>
          	</body>
          </html>