<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e261_22><div class=e261_23><div  class="e261_24"></div><span  class="e261_25">CADASTRO</span></div><span  class="e261_26">Nome completo</span><div  class="e261_27"></div><span  class="e261_28">Celular</span><div  class="e261_29"></div><span  class="e261_30">E-mail</span><div  class="e261_31"></div><span  class="e261_32">Senha</span><div  class="e261_33"></div><span  class="e261_34">Confirmação de Senha</span><div  class="e261_35"></div><div class=e261_36><div  class="e261_37"></div><span  class="e261_38">CADASTRAR</span></div><div class=e261_39><div  class="e261_40"></div><span  class="e261_41">CANCELAR</span></div><span  class="e261_42">ALLIDA</span></div>
          </body>
          </html>