.e261_22 { 
	background-color:rgba(254.00000005960464, 245.00000059604645, 243.00000071525574, 1);
	width:390px;
	height:827px;
	position:absolute;
}
.e261_23 { 
	width:390px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e261_24 { 
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:390px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e261_25 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:24px;
	position:absolute;
	left:125px;
	top:53px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e261_26 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:124px;
	height:19px;
	position:absolute;
	left:133px;
	top:116px;
	font-family:Syne;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e261_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:50.5px;
	top:161px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e261_28 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:55px;
	height:19px;
	position:absolute;
	left:167.5px;
	top:227px;
	font-family:Syne;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e261_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:50.5px;
	top:272px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e261_30 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:51px;
	height:19px;
	position:absolute;
	left:169.5px;
	top:338px;
	font-family:Syne;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e261_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:50.5px;
	top:383px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e261_32 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:48px;
	height:19px;
	position:absolute;
	left:171px;
	top:449px;
	font-family:Syne;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e261_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:50.5px;
	top:494px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e261_34 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:176px;
	height:19px;
	position:absolute;
	left:107px;
	top:560px;
	font-family:Syne;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e261_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:50.5px;
	top:605px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e261_36 { 
	width:123px;
	height:40px;
	position:absolute;
	left:133.5px;
	top:671px;
}
.e261_37 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:123px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e261_38 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:18px;
	position:absolute;
	left:18px;
	top:11px;
	font-family:Syne;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e261_39 { 
	width:123px;
	height:40px;
	position:absolute;
	left:133.5px;
	top:737px;
}
.e261_40 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(248.0000004172325, 237.0000010728836, 235.0000011920929, 1);
	width:123px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e261_41 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:78px;
	height:17px;
	position:absolute;
	left:23px;
	top:12px;
	font-family:Syne;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e261_42 { 
	color:rgba(240.00000089406967, 113.00000086426735, 103.0000014603138, 1);
	width:83px;
	height:24px;
	position:absolute;
	left:153.5px;
	top:803px;
	font-family:Syne;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
button, input{
	border-style: none;
}